In [18]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from concurrent.futures import ThreadPoolExecutor
from tqdm.auto import tqdm

In [19]:
eye_shape_result_files= ['result_bus_20240226-112104.csv', 'result_passenger_20240226-112405.csv', 'result_taxi_20240226-112648.csv', 'result_truck_20240226-112812.csv']

In [20]:
img_file_path_list = list()

for (path, dirs, files) in os.walk('d:\\drowsy_dataset\\image'):
    for filename in files:
        if os.path.splitext(filename)[1] == '.jpg':
            img_file_path_list.append(path+os.sep+filename)

img_file_path_list[0:5]

['d:\\drowsy_dataset\\image\\bus\\R_216_60_M\\R_216_60_M_01_M0_G1_C0_01.jpg',
 'd:\\drowsy_dataset\\image\\bus\\R_216_60_M\\R_216_60_M_01_M0_G1_C0_02.jpg',
 'd:\\drowsy_dataset\\image\\bus\\R_216_60_M\\R_216_60_M_01_M0_G1_C0_03.jpg',
 'd:\\drowsy_dataset\\image\\bus\\R_216_60_M\\R_216_60_M_01_M0_G1_C0_04.jpg',
 'd:\\drowsy_dataset\\image\\bus\\R_216_60_M\\R_216_60_M_01_M0_G1_C0_05.jpg']

In [21]:
train_eye_shape_dataset = pd.DataFrame()
test_eye_shape_dataset = pd.DataFrame()

for data_file in eye_shape_result_files:
    data = pd.read_csv('analysis_data' + os.sep + data_file)
    train_data, test_data = train_test_split(data, test_size=0.1, random_state=0)
    train_eye_shape_dataset = pd.concat([train_eye_shape_dataset, train_data])
    test_eye_shape_dataset = pd.concat([test_eye_shape_dataset, test_data])
    
train_eye_shape_dataset.drop(columns=['Unnamed: 0'], inplace=True)
test_eye_shape_dataset.drop(columns=['Unnamed: 0'], inplace=True)

train_eye_shape_dataset.reset_index(inplace=True, drop=True)
test_eye_shape_dataset.reset_index(inplace=True, drop=True)

In [22]:
train_eye_shape_dataset.head()

,file_name,face_pt1_x_pos,face_pt1_y_pos,face_pt2_x_pos,face_pt2_y_pos,left_eye_pt1_x_pos,left_eye_pt1_y_pos,left_eye_pt2_x_pos,left_eye_pt2_y_pos,right_eye_pt1_x_pos,...,target_right_eye_pt1_y_pos,target_right_eye_pt2_x_pos,target_right_eye_pt2_y_pos,exist_mask,exist_glasses,face_visible,left_eye_visible,left_eye_opened,right_eye_visible,right_eye_opened
0,R_234_60_M_19_M1_G1_C0_03.jpg,211,434,483,910,261,599,304,610,377,...,587.82,425.23,616.64,1,1,1,1,1,1,1
1,R_218_50_M_17_M1_G0_C0_12.jpg,320,468,566,932,380,635,418,656,487,...,627.46,544.69,654.72,1,0,1,1,1,1,1
2,R_226_30_M_17_M1_G1_C1_17.jpg,284,506,600,942,370,633,396,647,478,...,629.95,523.56,651.35,1,1,1,1,1,1,1
3,R_231_50_M_09_M1_G0_C0_14.jpg,144,447,474,1013,209,669,228,695,295,...,656.88,369.80,691.17,1,0,1,1,1,1,1
4,R_230_40_M_19_M1_G1_C0_18.jpg,41,582,320,1028,169,685,199,730,194,...,705.04,240.05,732.24,1,1,1,1,1,1,1

In [23]:
train_eye_shape_dataset.shape

(20801, 41)

In [24]:
test_eye_shape_dataset.head()

,file_name,face_pt1_x_pos,face_pt1_y_pos,face_pt2_x_pos,face_pt2_y_pos,left_eye_pt1_x_pos,left_eye_pt1_y_pos,left_eye_pt2_x_pos,left_eye_pt2_y_pos,right_eye_pt1_x_pos,...,target_right_eye_pt1_y_pos,target_right_eye_pt2_x_pos,target_right_eye_pt2_y_pos,exist_mask,exist_glasses,face_visible,left_eye_visible,left_eye_opened,right_eye_visible,right_eye_opened
0,R_231_50_M_09_M1_G0_C0_03.jpg,226,505,538,964,319,632,338,657,409,...,659.53,478.52,693.83,1,0,1,1,1,1,1
1,R_237_40_M_20_M0_G0_C0_05.jpg,151,246,470,762,197,431,255,450,347,...,414.25,419.07,451.02,0,0,1,1,1,1,1
2,R_221_50_M_04_M1_G0_C0_15.jpg,151,522,416,972,245,636,277,656,330,...,677.20,385.39,711.52,1,0,1,1,0,1,1
3,R_221_50_M_12_M1_G0_C0_06.jpg,244,540,504,968,349,628,383,652,363,...,716.67,491.77,763.04,1,0,1,1,1,1,1
4,R_221_50_M_13_M1_G0_C0_02.jpg,190,571,464,981,304,640,320,667,278,...,732.69,443.64,772.16,1,0,1,1,0,1,1

In [8]:
test_eye_shape_dataset.shape

(2313, 41)

In [25]:
img_file_names = list()

for img_file_path in img_file_path_list:
    img_file_names.append(os.path.basename(img_file_path))

In [26]:
#train_eye_shape_dataset = train_eye_shape_dataset[train_eye_shape_dataset['face_detection'] == 1]
#train_eye_shape_dataset.reset_index(drop=True, inplace=True)

for i in tqdm(range(train_eye_shape_dataset.shape[0])):
    file_name = train_eye_shape_dataset.loc[i, 'file_name']
    file_idx = np.argmax(img_file_names == file_name)
    train_eye_shape_dataset.loc[i, 'file_name'] = img_file_path_list[file_idx]

  0%|          | 0/20801 [00:00<?, ?it/s]

In [27]:
#test_eye_shape_dataset = test_eye_shape_dataset[test_eye_shape_dataset['face_detection'] == 1]
#test_eye_shape_dataset.reset_index(drop=True, inplace=True)

for i in tqdm(range(test_eye_shape_dataset.shape[0])):
    file_name = test_eye_shape_dataset.loc[i, 'file_name']
    file_idx = np.argmax(img_file_names == file_name)
    test_eye_shape_dataset.loc[i, 'file_name'] = img_file_path_list[file_idx]

  0%|          | 0/2313 [00:00<?, ?it/s]

In [28]:
train_eye_shape_dataset.head()

,file_name,face_pt1_x_pos,face_pt1_y_pos,face_pt2_x_pos,face_pt2_y_pos,left_eye_pt1_x_pos,left_eye_pt1_y_pos,left_eye_pt2_x_pos,left_eye_pt2_y_pos,right_eye_pt1_x_pos,...,target_right_eye_pt1_y_pos,target_right_eye_pt2_x_pos,target_right_eye_pt2_y_pos,exist_mask,exist_glasses,face_visible,left_eye_visible,left_eye_opened,right_eye_visible,right_eye_opened
0,d:\drowsy_dataset\image\bus\R_216_60_M\R_216_6...,211,434,483,910,261,599,304,610,377,...,587.82,425.23,616.64,1,1,1,1,1,1,1
1,d:\drowsy_dataset\image\bus\R_216_60_M\R_216_6...,320,468,566,932,380,635,418,656,487,...,627.46,544.69,654.72,1,0,1,1,1,1,1
2,d:\drowsy_dataset\image\bus\R_216_60_M\R_216_6...,284,506,600,942,370,633,396,647,478,...,629.95,523.56,651.35,1,1,1,1,1,1,1
3,d:\drowsy_dataset\image\bus\R_216_60_M\R_216_6...,144,447,474,1013,209,669,228,695,295,...,656.88,369.80,691.17,1,0,1,1,1,1,1
4,d:\drowsy_dataset\image\bus\R_216_60_M\R_216_6...,41,582,320,1028,169,685,199,730,194,...,705.04,240.05,732.24,1,1,1,1,1,1,1

In [29]:
train_eye_shape_dataset.shape

(20801, 41)

In [17]:
test_eye_shape_dataset.head()

,file_name,face_pt1_x_pos,face_pt1_y_pos,face_pt2_x_pos,face_pt2_y_pos,left_eye_pt1_x_pos,left_eye_pt1_y_pos,left_eye_pt2_x_pos,left_eye_pt2_y_pos,right_eye_pt1_x_pos,...,target_right_eye_pt1_y_pos,target_right_eye_pt2_x,target_right_eye_pt2_y_pos,exist_mask,exist_glasses,face_visible,left_eye_visible,left_eye_opened,right_eye_visible,right_eye_opened
0,c:\workspace\drowsy_image\bus\R_001_60_M\R_001...,226.0,505.0,538.0,964.0,319.0,632.0,338.0,657.0,409.0,...,659.53,478.52,693.83,1.0,0.0,1.0,1.0,1.0,1.0,1.0
1,c:\workspace\drowsy_image\bus\R_001_60_M\R_001...,151.0,246.0,470.0,762.0,197.0,431.0,255.0,450.0,347.0,...,414.25,419.07,451.02,0.0,0.0,1.0,1.0,1.0,1.0,1.0
2,c:\workspace\drowsy_image\bus\R_001_60_M\R_001...,151.0,522.0,416.0,972.0,245.0,636.0,277.0,656.0,330.0,...,677.20,385.39,711.52,1.0,0.0,1.0,1.0,0.0,1.0,1.0
3,c:\workspace\drowsy_image\bus\R_001_60_M\R_001...,244.0,540.0,504.0,968.0,349.0,628.0,383.0,652.0,363.0,...,716.67,491.77,763.04,1.0,0.0,1.0,1.0,1.0,1.0,1.0
4,c:\workspace\drowsy_image\bus\R_001_60_M\R_001...,190.0,571.0,464.0,981.0,304.0,640.0,320.0,667.0,278.0,...,732.69,443.64,772.16,1.0,0.0,1.0,1.0,0.0,1.0,1.0

In [30]:
test_eye_shape_dataset.shape

(2313, 41)

In [31]:
train_eye_shape_dataset.to_csv('train_eye_shape_dataset.csv', index=False)

In [32]:
test_eye_shape_dataset.to_csv('test_eye_shape_dataset.csv', index=False)